h1{
text-align: center;
color: rgb(9, 10, 10);
background: #e2b6b6;
font-weight: bolder;
font-size: xx-large;
}
.affu{
   font-size: xx-large; 
   font-weight: bolder;
}
body{
    
   
    background: rgb(204, 175, 213);
}
p{
    font-size: x-large;
    font-weight: 550;
    font-style: oblique;
        
}
.hiba{
    text-decoration: underline;
    text-decoration-style: wavy;
}

img {
    width: 400px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px; /* Rounded corners */
  }
  
